<h1 class="cloud-text">Is It Raining?</h1>
<form id="zipcode-form" action="/forecasts" method="POST" class="form">
  <label for="address[zip]" class="label">Zip Code:</label>
  <input type="text" name="address[zip]">
  <input type="submit" name="submit" value="???" class="button">
</form>