<!DOCTYPE html>
<html>
<head>
  <title>Is It Raining?</title>
  <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/listeners.js"></script>
  <script src="/js/forecasts.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <div id="main-content">
    <%= yield %>
  </div>
  <footer>
    <p><a target="_blank" href="https://icons8.com/">Free favicon provided courtesy of icons8</a></p>
  </footer>
</body>
</html>